<div class="container mt-5">

    <ul ngbNav #nav="ngbNav" [(activeId)]="active" class="nav-tabs">
        <li [ngbNavItem]="1">
          <a ngbNavLink>Recadastramento</a>
          <ng-template ngbNavContent>
            <app-dashboard-recadastramento></app-dashboard-recadastramento>
          </ng-template>
        </li>
        <li [ngbNavItem]="2">
          <a ngbNavLink>Enquadramento</a>
          <ng-template ngbNavContent>
              <app-dashboard-enquadramento></app-dashboard-enquadramento>
          </ng-template>
        </li>
      </ul>
      <div [ngbNavOutlet]="nav" class="mt-2"></div>
</div>