<div class="row mt-5">
    <div class="col-sm-6 col-md-3 mb-3">
        <app-totals-cards
            title="Servidores Sexo Masculino"
            value="{{ 5000 | number: '1.0-0'}}">
        </app-totals-cards>
    </div>
    <div class="col-sm-6 col-md-3 mb-3">
        <app-totals-cards
            title="Servidores Sexo Feminino"
            value="{{ 5000 | number: '1.0-0'}}">
        </app-totals-cards>
    </div>
    <div class="col-sm-6 col-md-3 mb-3">
        <app-totals-cards
            title="Servidores Ativos"
            value="{{ 5000 | number: '1.0-0'}}">
        </app-totals-cards>
    </div>
    <div class="col-sm-6 col-md-3 mb-3">
        <app-totals-cards
            title="Servidores Inativos"
            value="{{ 5000 | number: '1.0-0'}}">
        </app-totals-cards>
    </div>
    <div class="col-sm-6 col-md-3 mb-3">
        <app-totals-cards
            title="Servidores Efetivos"
            value="{{ 5000 | number: '1.0-0'}}">
        </app-totals-cards>
    </div>
    <div class="col-sm-6 col-md-3 mb-3">
        <app-totals-cards
            title="Servidores Comissionados"
            value="{{ 5000 | number: '1.0-0'}}">
        </app-totals-cards>
    </div>
    <div class="col-sm-6 col-md-3 mb-3">
        <app-totals-cards
            title="Servidores Estaduais"
            value="{{ 5000 | number: '1.0-0'}}">
        </app-totals-cards>
    </div>
    <div class="col-sm-6 col-md-3 mb-3">
        <app-totals-cards
            title="Servidores Federais"
            value="{{ 5000 | number: '1.0-0'}}">
        </app-totals-cards>
    </div>
</div>